In [1]:
!pip install pandas
!pip install pathlib
import pandas as pd
from pathlib import Path

Requirement already satisfied: pandas in c:\users\sebat\appdata\local\programs\python\python311\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sebat\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sebat\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\sebat\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\sebat\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.25.0)
Requirement already satisfied: six>=1.5 in c:\users\sebat\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: pathlib in c:\users\sebat\appdata\local\programs\python\python311\lib\site-packages (1.0.1)

In [2]:
datafile="C:/Users/sebat/ClassRepository/exercises_class/PANDAS/Class 2/baton_streets.csv"

In [20]:
streets=pd.read_csv(datafile)
#con esto, yo hago que en vez de indice en la primera columna, tengo el nombre de las calles (o la columna que yo quiera)
streets=streets.set_index("STREET NAME")
streets.head()

,STREET NAME ID,STREET FULL NAME,POSTAL COMMUNITY,MUNICIPAL COMMUNITY
STREET NAME,,,,
PRIVATE STREET,1400342,PRIVATE STREET,BATON ROUGE,BATON ROUGE
4TH,1,N 4TH ST,BATON ROUGE,BATON ROUGE
11TH,10,S 11TH ST,BATON ROUGE,BATON ROUGE
ADDINGTON,100,ADDINGTON AVE,BATON ROUGE,BATON ROUGE
CHALFONT,1000,W CHALFONT DR,BATON ROUGE,PARISH

In [10]:
#es como un buscarv, busco eso si por los nombres de la fila y despues de la columna
street_name=streets.loc["ADDINGTON","POSTAL COMMUNITY"]
street_name

'BATON ROUGE'

In [11]:
#lo mismo solo que lo hago con la referencia de las "celdas", que parten desde 0
street_name_2=streets.iloc[4,1]
street_name_2

'W CHALFONT DR'

In [12]:
#puede hacer filtros/busquedas tambien por rangos
private_to_chalfont = streets.loc[["PRIVATE STREET", "4TH", "11TH", "ADDINGTON",
                              "CHALFONT"], ["STREET NAME ID", "STREET FULL NAME", "POSTAL COMMUNITY"]]
print(private_to_chalfont)

                STREET NAME ID STREET FULL NAME POSTAL COMMUNITY
STREET NAME
PRIVATE STREET         1400342   PRIVATE STREET      BATON ROUGE
PRIVATE STREET         1400001   PRIVATE STREET      BATON ROUGE
PRIVATE STREET         1400015   PRIVATE STREET      BATON ROUGE
PRIVATE STREET         1400161   PRIVATE STREET      BATON ROUGE
PRIVATE STREET         1400343   PRIVATE STREET      BATON ROUGE
...                        ...              ...              ...
11TH                         9        N 11TH ST      BATON ROUGE
ADDINGTON                  100    ADDINGTON AVE      BATON ROUGE
CHALFONT                  1000    W CHALFONT DR      BATON ROUGE
CHALFONT                   998    N CHALFONT DR      BATON ROUGE
CHALFONT                   999    S CHALFONT DR      BATON ROUGE

[329 rows x 3 columns]

In [15]:
#los mismo aca.
also_private_to_chalfont = streets.iloc[0:5, 0:3]
print(also_private_to_chalfont)

                STREET NAME ID STREET FULL NAME POSTAL COMMUNITY
STREET NAME
PRIVATE STREET         1400342   PRIVATE STREET      BATON ROUGE
4TH                          1         N 4TH ST      BATON ROUGE
11TH                        10        S 11TH ST      BATON ROUGE
ADDINGTON                  100    ADDINGTON AVE      BATON ROUGE
CHALFONT                  1000    W CHALFONT DR      BATON ROUGE

In [18]:

also_private_to_chalfont = streets.iloc[0:6, 0:3]
print(also_private_to_chalfont)

                STREET NAME ID STREET FULL NAME POSTAL COMMUNITY
STREET NAME
PRIVATE STREET         1400342   PRIVATE STREET      BATON ROUGE
4TH                          1         N 4TH ST      BATON ROUGE
11TH                        10        S 11TH ST      BATON ROUGE
ADDINGTON                  100    ADDINGTON AVE      BATON ROUGE
CHALFONT                  1000    W CHALFONT DR      BATON ROUGE
BURROW                    2307        BURROW RD      BATON ROUGE

In [22]:
#selecciono todas las filas, y solo filtro por columnas.
streets.loc[:, ["STREET FULL NAME", "POSTAL COMMUNITY"]].head()

               STREET FULL NAME POSTAL COMMUNITY
STREET NAME
PRIVATE STREET   PRIVATE STREET      BATON ROUGE
4TH                    N 4TH ST      BATON ROUGE
11TH                  S 11TH ST      BATON ROUGE
ADDINGTON         ADDINGTON AVE      BATON ROUGE
CHALFONT          W CHALFONT DR      BATON ROUGE

In [24]:
#es para buscar pero con condiciones. le pido que me traiga todas las filas que contengas en postal community lo que quiero. y con eso me trae todas las columnas
only_prairieville = streets.loc[streets["POSTAL COMMUNITY"] == "PRAIRIEVILLE", :]
print(only_prairieville)

                 STREET NAME ID    STREET FULL NAME POSTAL COMMUNITY  \
STREET NAME
ALLIGATOR BAYOU           16497  ALLIGATOR BAYOU RD     PRAIRIEVILLE
BLUFF                     16498            BLUFF RD     PRAIRIEVILLE

                MUNICIPAL COMMUNITY
STREET NAME
ALLIGATOR BAYOU              PARISH
BLUFF                        PARISH

In [27]:
only_prairieville_and_jackson = streets.loc[(streets["POSTAL COMMUNITY"] == "PRAIRIEVILLE") | (
    streets["POSTAL COMMUNITY"] == "JACKSON"), :]
print(only_prairieville_and_jackson)

                  STREET NAME ID      STREET FULL NAME POSTAL COMMUNITY  \
STREET NAME
TALMADGE                    4772           TALMADGE DR          JACKSON
TREAKLE                     4911            TREAKLE DR          JACKSON
DENNIS                      1452             DENNIS CT          JACKSON
ALLIGATOR BAYOU            16497    ALLIGATOR BAYOU RD     PRAIRIEVILLE
BLUFF                      16498              BLUFF RD     PRAIRIEVILLE
RENEE                       4072              RENEE CT          JACKSON
SANDY SPRINGS               4320      SANDY SPRINGS LN          JACKSON
SHANE                       4405              SHANE CT          JACKSON
BICKHAM                      518            BICKHAM RD          JACKSON
ADAMS                       5527              ADAMS LN          JACKSON
LA 68                       5838             LA 68 HWY          JACKSON
SIMMONS                     6105            SIMMONS LN          JACKSON
MEADOW                      6107           W MEADOW DR          JACKSON
HIGHLAND MEADOW             6108  E HIGHLAND MEADOW DR          JACKSON
HIGHLAND MEADOWS            6109   HIGHLAND MEADOWS DR          JACKSON
PRIVATE DRIVEWAY         1200085      PRIVATE DRIVEWAY          JACKSON
PRIVATE DRIVEWAY         1200110      PRIVATE DRIVEWAY          JACKSON

                 MUNICIPAL COMMUNITY
STREET NAME
TALMADGE                      PARISH
TREAKLE                       PARISH
DENNIS                        PARISH
ALLIGATOR BAYOU               PARISH
BLUFF                         PARISH
RENEE                         PARISH
SANDY SPRINGS                 PARISH
SHANE                         PARISH
BICKHAM                       PARISH
ADAMS                         PARISH
LA 68                         PARISH
SIMMONS                       PARISH
MEADOW                        PARISH
HIGHLAND MEADOW               PARISH
HIGHLAND MEADOWS              PARISH
PRIVATE DRIVEWAY              PARISH
PRIVATE DRIVEWAY              PARISH