In [2]:
import pandas as pd

In [3]:
data_painting=[{"PAINTING":"Mona Lisa (Knockoff)","Price":25,"POPULARITY":"Very Popular"},
              {"PAINTING":"Van Gogh (Knockoff)","Price":20,"POPULARITY":"Popular"},
              {"PAINTING":"Starving Artist","Price":10,"POPULARITY":"Average"},
              {"PAINTING":"Toddler Drawing","Price":1,"POPULARITY":"Not Popular"}]
painting=pd.DataFrame(data_painting)
painting

               PAINTING  Price    POPULARITY
0  Mona Lisa (Knockoff)     25  Very Popular
1   Van Gogh (Knockoff)     20       Popular
2       Starving Artist     10       Average
3       Toddler Drawing      1   Not Popular

In [4]:
data_frame={"Frame":["Orante","Classical","Modern","Wood","Cardboard"],
           "Price":[15,12.5,10,5,1],
           "Sales":[100,200,150,300,"N/A"]}
frame=pd.DataFrame(data_frame)

In [5]:
frame.count()

Frame    5
Price    5
Sales    5
dtype: int64

In [6]:
frame.describe()

           Price
count   5.000000
mean    8.700000
std     5.674504
min     1.000000
25%     5.000000
50%    10.000000
75%    12.500000
max    15.000000