In [1]:
import pandas as pd

In [2]:
data_series = pd.Series(["UCLA","UC Berkeley","UC Irvine",
                        "University of Central Florida", "Rutgers University"])
data_series
#esto agrega automaticamente un indice con dada atributo de la lista. se crea un archivo con dos columnas

0                             UCLA
1                      UC Berkeley
2                        UC Irvine
3    University of Central Florida
4               Rutgers University
dtype: object

In [6]:
state_dicts=[{"STATE":"New Jersey","ABREVIATION":"NJ"},
            {"STATE":"New York","ABREVIATION":"NY"}]
state_df=pd.DataFrame(state_dicts)
state_df

        STATE ABREVIATION
0  New Jersey          NJ
1    New York          NY

In [5]:
pharaoh_df=pd.DataFrame({"Dynasty":["Early Dynastic Period", "Old Kingdom"],"Pharaoh":["Thinis", "Memphis"]})
pharaoh_df

                 Dynasty  Pharaoh
0  Early Dynastic Period   Thinis
1            Old Kingdom  Memphis